langchain_openai #For using OpenAI API
langchain_core #For embedding chatprompt template
python-dotenv
streamlit #For UI
langchain_community #For calling open source llms
langserve #For deployments, creating api routes
fastapi 
uvicorn 
sse_starlette
bs4
pypdf
chromadb # Vec db
faiss-cpu # Vec db
arxiv
wikipedia
google-api-python-client
langchain_groq # Inference
youtube-transcript-api # For making yt videos transcriptions
# pytube
# profanity-filter # For censoring prohibited words
# Upcoming modules are required for unstructured pdf loader from langchain
unstructured # For loading unstructured data
pdfminer
pillow_heif
langchain_pinecone
crewai # For building multi agent systems
langchain_google_genai # For communicating with google
# crewai_tools
chainlit